@page "/products"
@using BlazorStorageSystem.Data
@using BlazorStorageSystem.Components
@inject StorageService StorageService


<div class="flex-col">
    <Search OnSearch="OnSearch"></Search>
    @if (_products == null)
    {
        <Loader/>
    }
    else
    {
        <Table @bind-Products="_products"></Table>
    }
</div>

@code {
    private List<Product>? _products;

    protected override async Task OnInitializedAsync()
    {
        _products = await StorageService.GetProducts();
    }

    private async void OnSearch(string search)
    {
        _products = null;
        StateHasChanged();
        _products = await StorageService.GetProducts(search);
        StateHasChanged();
    }
}
