@inherits LayoutComponentBase

@inject NavigationManager NavigationManager

<PageTitle>Система складского учета продуктовой базы</PageTitle>

<div class="flex min-h-screen justify-between w-full">
    <main class="flex flex-col min-h-full w-full">
        <div class="flex items-center p-5 bg-gradient-to-r from-cyan-500 to-blue-500">
            <a class="font-bold text-3xl text-white" href="">Система складского учета продуктовой базы</a>
        </div>
        <article class="p-5 bg-gradient-to-r from-cyan-500 to-blue-500 h-full">
            @Body
        </article>
    </main>
    <aside class="w-50 p-5 bg-gradient-to-r from-blue-500 to-cyan-500 min-h-full pt-24">
        <a href="/products" class="flex justify-between px-4 items-center w-40 bg-white/20 border-2 h-10 mb-2 rounded-xl text-white text-lg font-bold hover:bg-blue-300 transition-all @Active(1)">
            <ion-icon name="cube-outline"></ion-icon>
            <span>Товары</span>
        </a>
        <a href="/sellers" class="flex justify-between px-4 items-center w-40 bg-white/20 border-2 h-10 mb-2 rounded-xl text-white text-lg font-bold hover:bg-blue-300 transition-all @Active(2)">
            <ion-icon name="people-outline"></ion-icon>
            <span>Сотрудники</span>
        </a>
        <a href="/orders" class="flex justify-between px-4 items-center w-40 bg-white/20 border-2 h-10 mb-2 rounded-xl text-white text-lg font-bold hover:bg-blue-300 transition-all @Active(3)">
            <ion-icon name="newspaper-outline"></ion-icon>
            <span>Заказы</span>
        </a>
        <a href="/categories" class="flex justify-between px-4 items-center w-40 bg-white/20 border-2 h-10 mb-2 rounded-xl text-white text-lg font-bold hover:bg-blue-300 transition-all @Active(4)">
            <ion-icon name="pricetags-outline"></ion-icon>
            <span>Категории</span>
        </a>
    </aside>
</div>


@code
{
    private string Active(int index)
    {
        return index == 1 && NavigationManager.Uri.Contains("products") ||
               index == 2 && NavigationManager.Uri.Contains("sellers") ||
               index == 3 && NavigationManager.Uri.Contains("orders") || 
               index == 4 && NavigationManager.Uri.Contains("categories") ?
            "border-indigo-500 text-indigo-500" :
            "border-white/70";
    }
}