@inherits LayoutComponentBase

<PageTitle>Система складского учета продуктовой базы</PageTitle>

<div class="flex h-screen">
    <main class="flex flex-col h-full w-full">
        <div class="flex items-center p-5 bg-gradient-to-r from-cyan-500 to-blue-500">
            <a class="font-bold text-3xl text-white" href="">Система складского учета продуктовой базы</a>
        </div>
        <article class="p-5 bg-gradient-to-r from-cyan-500 to-blue-500 h-full">
            @Body
        </article>
    </main>
</div>
